@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: 400;
  color: #000;
}

h1 {
  font-weight: 300;
  font-size: 42px;
  color: #007982;
}

.bgfon {
  background: url("../img/fon_midl.png");
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

a:active, a:focus {
  outline: none;
}

button:active, button:focus {
  outline: none;
}

*:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.header {
  margin-top: 10px;
}

.header-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

.header__logo_img {
  display: block;
  margin: auto;
}

.header__wrap_contacts p, .header__info p, .header__address p {
  color: #1e9382;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrap_contacts p:not(:first-child), .header__info p:not(:first-child), .header__address p:not(:first-child) {
  margin-top: 8px;
}

.header__address_metka:before {
  background: url("../img/metka.png") center center/cover no-repeat;
}

.general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 19px;
  height: 20px;
}

.header__contacts_a1:before {
  background: url("../img/a1.png") center center/cover no-repeat;
}

.header__contacts_mts:before {
  background: url("../img/mts.png") center center/cover no-repeat;
}

.header__contacts_home:before {
  background: url("../img/home.png") center center/cover no-repeat;
}

.header__info > p:first-child {
  letter-spacing: 1px;
}

.menu-active {
  background-color: #11554b;
}

.main-menu {
  min-height: 80px;
  background-color: #1e9382;
}

.container-menu {
  max-width: 1300px;
  margin: 0 auto;
}

.menu-list {
  height: 100%;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.transition-menu {
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.menu {
  position: relative;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0;
}

.menu__item:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.42);
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
  cursor: pointer;
  height: 100%;
}

.menu__item_text {
  display: block;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.menu__item_text2 {
  padding: 0;
}

.menu__item_visible:hover .menu-level2-hidden {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu__item_visible:hover .caret {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .7s;
  transition: .7s;
}

.text {
  color: #fff;
}

.menu-level2 {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 170px;
  background-color: #1e9382;
  list-style-type: none;
  padding-left: 0px;
}

.menu-level2-item {
  padding: 15px;
}

.menu-level2-item:hover {
  background-color: #11554b;
}

.menu-level2-hidden {
  display: none;
}

.home-slider {
  width: 100%;
  height: 470px;
  margin: 0 auto;
}

.slider {
  width: inherit;
  height: inherit;
}

.slider__size {
  width: inherit;
  height: 470px;
}

.slider__img1 {
  background: url("../img/slaidimg1.jpg") center center/cover no-repeat;
}

.slider__img2 {
  background: url("../img/slaidimg2.jpg") center center/cover no-repeat;
}

.slider__img3 {
  background: url("../img/slaidimg3.jpg") center center/cover no-repeat;
}

.information {
  min-height: 400px;
  margin-bottom: 80px;
}

.information__title {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  margin: 0 auto;
  padding-top: 50px;
  width: 100%;
}

.information__title:after {
  content: '';
  border: 1px solid #1e9382;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 2% auto;
}

.information__text {
  width: 100%;
  margin: 15px auto;
  font-size: 17px;
  font-weight: 400;
}

.information__btn {
  display: block;
  margin: 35px auto;
  width: 350px;
  height: 60px;
  border: 3px solid #1e9382;
  border-radius: 10px;
}

.information__btn_text {
  color: #000;
  font-size: 19px;
  font-weight: 500;
}

.information__btn:hover {
  background-color: #1e9382;
}

.information__btn:hover .information__btn_text {
  color: #fff;
}

.transition-btn {
  -webkit-transition: 3s;
  transition: 3s;
}

.benefits-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 3px solid #1e9382;
  border-radius: 50%;
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
}

.benefits {
  min-height: 565px;
}

.benefits__title {
  text-align: center;
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  font-weight: 500;
  margin: 2% auto;
}

.benefits__list {
  width: 985px;
  margin: 0 auto;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.benefits__item_text {
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  margin-left: 25px;
}

.benefits-circle.animation1 {
  -webkit-transform: translate(-600%, 0);
          transform: translate(-600%, 0);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.benefits__item_text.animation1 {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.benefits-circle.animation1.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  opacity: 1;
}

.benefits__item_text.animation1.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
  opacity: 1;
}

.services-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services {
  min-height: 600px;
}

.services__title {
  text-align: center;
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  font-weight: 500;
  margin: 2% auto;
}

.services__cards {
  min-height: 350px;
  width: 450px;
  background-color: rgba(196, 202, 201, 0.3);
  -webkit-box-shadow: 3px 3px 5px #9ba1a0;
          box-shadow: 3px 3px 5px #9ba1a0;
  border-radius: 30px;
}

.services__cards_ultrasound {
  background: url("../img/ultrasound.jpg") center center/cover no-repeat;
}

.services__cards_holter {
  background: url("../img/holter.jpg") center center/cover no-repeat;
}

.services__cards_detskayakardiologiya {
  background: url("../img/kardiologiya.png") center center/cover no-repeat;
}

.services__cards_fz {
  width: 100%;
  height: 180px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.services__cards_title {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  margin: 5%;
}

.services__button {
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
}

.btn-flip:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  -webkit-transform: translateY(50%) rotateX(90deg);
          transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #fff;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background: #1e9382;
  content: attr(data-back);
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background: #45454a;
  content: attr(data-front);
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonprices {
  min-width: 300px;
  min-height: 60px;
  font-family: sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fff;
  background: #1e9382;
  background: #1e9382;
  border: none;
  border-radius: 1000px;
  -webkit-box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
          box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
  margin: 8%;
  padding: 10px;
}

.buttonprices::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 8px solid #1e9382;
  -webkit-box-shadow: 0 0 60px #1e9382;
          box-shadow: 0 0 60px #1e9382;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

.buttonprices:hover, .buttonprices:focus {
  color: #45454a;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.buttonprices:hover::before, .buttonprices:focus::before {
  opacity: 1;
}

.buttonprices::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #1e9382;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
          animation: ring 1.5s infinite;
}

.buttonprices:hover::after, .buttonprices:focus::after {
  -webkit-animation: none;
          animation: none;
  display: none;
}

@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.map {
  height: 500px;
}

.map__style {
  width: 100%;
  height: 500px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  padding: 25px 0 15px 0;
  min-height: 200px;
  background-color: #45454a;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo_text {
  color: #fff;
  font-weight: 400;
  font-size: 38px;
}

.footer__contacts_title {
  color: #fff;
  font-size: 20px;
}

.footer__contacts_number {
  list-style-type: none;
  padding-left: 0;
  color: #95989c;
}

.footer__contacts_tel {
  margin-top: 10px;
}

.footer__info {
  margin-right: 25px;
}

.footer__info_title {
  color: #fff;
  font-size: 20px;
}

.footer__info_schedule {
  margin-top: 5px;
  color: #95989c;
}

.footer__group_title {
  color: #fff;
  font-size: 20px;
}

.footer-vk:hover {
  fill: #fff;
}

.footer-ok:hover {
  fill: #fff;
}

.footer__bottom {
  border-top: 1px solid #53585e;
  margin-top: 10px;
  padding-top: 7px;
  text-align: center;
}

.footer__bottom_copyright {
  color: #95989c;
  font-size: 12px;
}

.cards-img__heart {
  background: url("../img/cards-img/heart.jpg") center center/cover no-repeat;
}

.cards-img__kidney {
  background: url("../img/cards-img/kidney.jpg") center center/cover no-repeat;
}

.cards-img__veins {
  background: url("../img/cards-img/veins.jpg") center center/cover no-repeat;
}

.cards-img__bcaartery {
  background: url("../img/cards-img/bca-artery.jpg") center center/cover no-repeat;
}

.cards-img__pelvis {
  background: url("../img/cards-img/pelvis.jpg") center center/cover no-repeat;
}

.cards-img__milkglands {
  background: url("../img/cards-img/milk-glands.jpg") center center/cover no-repeat;
}

.cards-img__thyroid {
  background: url("../img/cards-img/thyroid.jpg") center center/cover no-repeat;
}

.cards-img__kidneybladder {
  background: url("../img/cards-img/kidney-bladder.jpg") center center/cover no-repeat;
}

.cards-img__joints {
  background: url("../img/cards-img/joints.jpg") center center/cover no-repeat;
}

.cards-img__prostate {
  background: url("../img/cards-img/prostate.jpg") center center/cover no-repeat;
}

.cards-img__lymphnodes {
  background: url("../img/cards-img/lymph-nodes.jpg") center center/cover no-repeat;
}

.cards-img__salivaryglands {
  background: url("../img/cards-img/salivary-glands.jpg") center center/cover no-repeat;
}

.cards-img__spleen {
  background: url("../img/cards-img/spleen.jpg") center center/cover no-repeat;
}

.cards-img__pancreas {
  background: url("../img/cards-img/pancreas.jpg") center center/cover no-repeat;
}

.cards-img__liver {
  background: url("../img/cards-img/liver.jpg") center center/cover no-repeat;
}

.cards-img__softtissues {
  background: url("../img/cards-img/soft-tissues.jpg") center center/cover no-repeat;
}

.cards-img__lungs {
  background: url("../img/cards-img/lungs.jpg") center center/cover no-repeat;
}

.cards-img__brain {
  background: url("../img/cards-img/brain.jpg") center center/cover no-repeat;
}

.cards-img__macarons {
  background: url("../img/cards-img/macarons.jpg") center center/cover no-repeat;
}

.ultrasound {
  min-height: 600px;
  padding: 35px 0;
}

.ultrasound-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ultrasound__title {
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  font-weight: 500;
  margin: 2% auto;
  text-align: center;
}

.ultrasound-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.ultrasound-block__cards {
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 200px;
  border-radius: 35px;
  margin: 15px 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.ultrasound-block__cards:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.ultrasound-block__cards_text {
  display: block;
  text-align: center;
  height: inherit;
  background-color: #000;
  border-radius: 35px;
  opacity: 0.6;
  color: #fff;
  padding-top: 70px;
  font-size: 26px;
}

.cards-img__smad {
  background: url("../img/cards-img/smad.jpg") center center/cover no-repeat;
}

.cards-img__holterecg {
  background: url("../img/cards-img/holter-ecg.jpg") center center/cover no-repeat;
}

.cards-img__electrocardiogram {
  background: url("../img/cards-img/electrocardiogram.jpg") center center/cover no-repeat;
}

.functionaldiagnostics {
  min-height: 300px;
  padding-bottom: 75px;
}

.functionaldiagnostics__title {
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  font-weight: 500;
  text-align: center;
  margin: 2% auto;
}

.functionaldiagnostics-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.functionaldiagnostics-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.functionaldiagnostics-block__cards {
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 200px;
  border-radius: 35px;
  margin: 15px 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.functionaldiagnostics-block__cards:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.functionaldiagnostics-block__cards_text {
  text-align: center;
  height: inherit;
  background-color: #000;
  border-radius: 35px;
  opacity: 0.6;
  color: #fff;
  padding-top: 70px;
  font-size: 26px;
}

.cardiolog {
  min-height: 700px;
  padding-bottom: 30px;
}

.cardiolog__title {
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  text-align: center;
  font-weight: 500;
  margin: 2% auto;
}

.cardiolog__foreword {
  font-family: 'Passions Conflict', cursive;
  margin-left: 40px;
  font-size: 22px;
}

.cardiolog__text {
  margin: 40px;
}

.cardiolog__text1 {
  font-family: 'Passions Conflict', cursive;
  font-size: 22px;
  text-indent: 30px;
  text-align: justify;
}

.cardiolog__textbig {
  font-family: 'Passions Conflict', cursive;
  font-size: 36px;
  font-weight: 700;
  color: #1e9382;
}

.cardiolog-img {
  width: 500px;
  height: 350px;
  margin-left: 15px;
  border-radius: 155px;
}

.cardiolog__causes {
  padding: 0 0 30px 0;
}

.cardiolog__causes_title {
  text-align: center;
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  font-weight: 500;
  margin: 2% auto;
}

.cardiolog__causes_text {
  font-size: 23px;
}

.cardiolog__causes_text li {
  font-family: 'Passions Conflict', cursive;
  padding-top: 10px;
}

.cardiolog__header {
  font-family: 'Passions Conflict', cursive;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.cardiolog__header-text {
  font-family: 'Passions Conflict', cursive;
  font-size: 20px;
  margin: 5px 0 5px 0;
  font-weight: 400;
}

.cardiolog__info {
  padding: 20px 0;
  text-align: justify;
  font-size: 23px;
  font-family: 'Passions Conflict', cursive;
}

.cardiolog__footer {
  font-family: 'Passions Conflict', cursive;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.prices {
  margin: 50px 0;
}

.prices__title {
  font-size: 38px;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  margin: 5% 0;
  text-align: center;
}

.prices__title:after {
  content: '';
  border: .5px solid #1e9382;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 2% auto;
}

.prices__topical {
  background-color: #1e9382;
  font-size: 22px;
  font-weight: 500;
  padding: 22px 0 22px 15px;
  border-radius: 5px;
  color: #fff;
}

.prices__table {
  border-collapse: collapse;
  color: #686461;
  width: 100%;
}

.prices__table-center {
  text-align: center;
}

.prices__table-general {
  position: relative;
  font-size: 19px;
}

.prices__table-general:before {
  content: '';
  background: url("../img/prices-img/bracket.png") center center/cover no-repeat;
  position: absolute;
  left: 0;
  top: -13px;
  width: 42px;
  height: 53px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.prices__description {
  width: 800px;
}

.prices__description-src {
  font-size: 14px;
  margin-left: 25px;
  margin-top: 5px;
}

.prices__description-text {
  margin-top: 10px;
}

.prices__description-strong {
  margin-top: 10px;
  font-size: 21px;
}

th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  color: #346953;
}

td {
  padding: 10px;
}

td b {
  color: #ff0000;
}

tr:nth-child(odd) {
  background: white;
}

tr:nth-child(even) {
  background: #E8E6D1;
}

.insurance {
  min-height: 750px;
  padding: 35px 0 35px 0;
}

.insurance-title {
  font-size: 28px;
  color: #1e9382;
  text-align: left;
}

.insurance__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.insurance__wrapper_img {
  width: 460px;
  margin-top: 30px;
}

.insurance__wrapper_img-size {
  width: 210px;
  height: 150px;
  margin-top: 20px;
}

.insurance__wrapper_img-size:nth-child(even) {
  margin-left: 15px;
}

.insurance__wrapper_img-size:nth-child(3) {
  height: 190px;
  width: 230px;
}

.insurance__wrapper_img-size:nth-child(4) {
  margin: 0;
  width: 210px;
}

.insurance__wrapper_img-size:nth-child(5) {
  width: 300px;
}

.insurance__wrapper_text {
  margin-top: 35px;
  padding: 20px;
  width: 600px;
  height: 600px;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 14px 28px rgba(30, 147, 130, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(30, 147, 130, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.insurance__wrapper_text-title {
  text-align: center;
  font-size: 18px;
}

.insurance__wrapper_text-list ul li {
  margin-top: 10px;
}

.insurance__wrapper_text-info {
  padding-top: 25px;
  font-size: 22px;
  text-align: center;
}

.certificate {
  min-height: 440px;
  padding: 0 0 25px 0;
  background: url("../img/fon_midl.png");
}

.certificate-slider {
  width: 750px;
  height: 380px;
  margin: 0 auto;
}

.certificate-slider-block {
  width: inherit;
  height: inherit;
}

.certificate-slider__size {
  width: inherit;
  height: 470px;
}

.certificate-slider__img1 {
  background: url("../img/GiftСertificates/certificate1rez.png") center center/cover no-repeat;
}

.certificate-slider__img2 {
  background: url("../img/GiftСertificates/certificate2rez.png") center center/cover no-repeat;
}

.giftCertidicate {
  padding: 0 0;
  min-height: 500px;
  background: url("../img/fon_midl.png");
}

.giftCertidicate__header {
  font-family: 'Passions Conflict', cursive;
  font-size: 20px;
  font-weight: 400;
}

.giftCertidicate__header-title {
  font-family: inherit;
  color: #1e9382;
  font-weight: 700;
  font-size: 24px;
}

.giftCertidicate__list {
  margin: 20px 0 20px 0;
}

.giftCertidicate__list-text {
  font-family: 'Passions Conflict', cursive;
  padding: 5px 0 5px 0;
  font-size: 18px;
  font-weight: 400;
}

.giftCertidicate__decor {
  margin: 40px 0 20px 0;
}

.giftCertidicate__decor-src {
  font-family: 'Passions Conflict', cursive;
  font-size: 22px;
  font-weight: 700;
}

.giftCertidicate__decor-header {
  font-family: 'Passions Conflict', cursive;
  margin: 20px 0 0 0;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
}

.giftCertidicate__decor-bgcolor {
  border-radius: 10px;
}

.giftCertidicate__decor-text {
  padding: 5px 0 5px 0;
  font-size: 18px;
  font-weight: 400;
}

.giftCertidicate__decor-footer {
  margin: 20px 0 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.return {
  cursor: pointer;
  width: 300px;
  margin-bottom: 25px;
  margin-left: 30px;
}

.return-text {
  font-family: 'Passions Conflict', cursive;
  font-size: 24px;
  color: #1e9382;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  font-weight: 500;
}

.return-text:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.descriptionHeartTitleStyle {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #1e9382;
}

.descriptionNone {
  display: none;
}

.descriptionBlock {
  display: block;
}

.descriptionHeart {
  padding: 35px 0 35px 0;
}

.descriptionHeart-preparation {
  margin-top: 25px;
}

.descriptionHeart-block {
  min-height: 350px;
}

.descriptionHeart-block_img {
  width: 400px;
  height: 350px;
  border-radius: 50%;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.descriptionHeart-block_text {
  margin: 15px;
}

.descriptionHeart-block_text_title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #1e9382;
}

.descriptionHeart-block_text_src {
  font-family: 'Passions Conflict', cursive;
  font-size: 22px;
  text-align: left;
  letter-spacing: .6px;
  margin: 15px;
}

.descriptionHeart-testimony {
  padding: 30px 0 0 0;
}

.descriptionHeart-testimony_text {
  font-size: 23px;
  letter-spacing: 0.5px;
}

.descriptionHeart-testimony_text li {
  font-family: 'Passions Conflict', cursive;
  padding-top: 10px;
}

.descriptionHeart-discover {
  padding: 20px 0 30px 0;
}

.descriptionHeart-discover_text {
  font-size: 23px;
  letter-spacing: 0.5px;
}

.descriptionHeart-discover_text li {
  font-family: 'Passions Conflict', cursive;
  padding-top: 10px;
}

.descriptionHeart-preparation {
  margin-top: 0 0 30px 0;
}

.descriptionHeart-preparation_text {
  font-family: 'Passions Conflict', cursive;
  font-size: 23px;
}

.descriptionHeart-preparation_text li {
  font-family: 'Passions Conflict', cursive;
  padding-top: 10px;
}

.descriptionHeart-preparation_text-src {
  margin-top: 30px;
  text-decoration: underline;
}

.doctors {
  padding: 20px 0 30px 0;
  min-height: 1000px;
}

.doctors__title {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  margin: 0 auto;
  padding-top: 50px;
  width: 750px;
}

.doctors__title:after {
  content: '';
  border: 1px solid #1e9382;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 2% auto;
}

.doctors-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin: 45px 0 0 0;
}

.doctors-block {
  cursor: pointer;
  width: 350px;
  height: 400px;
  padding: 20px;
  margin: 0 16px 0 16px;
  margin-bottom: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 14px 28px rgba(30, 147, 130, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(30, 147, 130, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 45px;
}

.doctors-block__img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.doctors-block__info {
  font-family: 'Roboto';
  text-align: center;
  padding: 10px 0;
}

.doctors-block__info_fullname {
  font-size: 19px;
  color: #346953;
  font-weight: 900;
}

.doctors-block__info_ultrasaund {
  font-size: 19px;
  font-weight: 500;
}

.doctors-block__info_category {
  font-size: 18px;
  font-weight: 500px;
}

.doctors-block__info_experience {
  font-size: 18px;
  font-weight: 500px;
}

.header__cap {
  display: none;
}

.header__burger {
  display: none;
}

.vacancies {
  min-height: 680px;
  padding: 25px 0 25px 0;
}

.vacancies__title {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  color: #1e9382;
  text-shadow: 1px 1px 1px #657078;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
}

.vacancies__header {
  font-size: 28px;
  font-weight: 700;
  color: #1e9382;
}

.vacancies__header-style {
  border: 3px solid #1e9382;
  border-top: 3px;
  border-left: 3px;
  border-right: 3px;
  text-transform: uppercase;
}

.vacancies__info_city {
  font-size: 22px;
  font-weight: 700;
  margin-left: 25px;
}

.vacancies__info_src {
  font-size: 22px;
}

.vacancies__info_src-style {
  font-size: 22px;
  color: #1e9382;
  font-weight: 500;
}

.vacancies__requirements {
  margin: 15px 0 15px 0;
}

.vacancies__requirements_title {
  font-size: 27px;
  font-weight: 700;
  color: #1e9382;
}

.vacancies__requirements_src {
  font-size: 22px;
  margin-top: 10px;
}

.vacancies__data {
  margin: 0 0 15px 0;
}

.vacancies__data_title {
  font-size: 27px;
  font-weight: 700;
  color: #1e9382;
}

.vacancies__data_src {
  font-size: 22px;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .header__logo_link h1 {
    font-size: 38px;
  }
  .container {
    padding: 0 5px 0 5px;
  }
  .main-menu {
    min-height: 70px;
  }
  .menu {
    height: 70px;
  }
  .menu__item_text {
    font-size: 15px;
  }
  .menu-level2 {
    left: 130px;
  }
  .information {
    min-height: 300px;
    margin-bottom: 50px;
  }
  .information__text {
    padding: 0 25px 0 25px;
  }
  .services-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__cards {
    margin: 0 25px 25px 25px;
  }
  .doctors-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .insurance__wrapper_text {
    width: 500px;
  }
  .insurance__wrapper_text-list {
    font-size: 15px;
  }
  .insurance__wrapper_text-info {
    padding-top: 11px;
    font-size: 18px;
  }
  .insurance-title {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .header__logo_img {
    width: 116px;
    height: 91px;
  }
  .header__logo_link h1 {
    font-size: 30px;
  }
  .header__wrap_contacts {
    font-size: 14px;
  }
  .header__info {
    font-size: 14px;
  }
  .header__address {
    font-size: 14px;
  }
  .main-menu {
    min-height: 70px;
  }
  .menu {
    height: 70px;
  }
  .menu__item {
    padding: 0 12px;
  }
  .menu__item_text {
    font-size: 13px;
  }
  .menu-level2 {
    left: 85px;
  }
  .home-slider {
    height: 300px;
  }
  .slider__size {
    height: 300px;
  }
  .information__title {
    padding-top: 25px;
  }
  .benefits {
    min-height: 465px;
  }
  .benefits__list {
    width: 100%;
  }
  .benefits__item_text {
    font-size: 28px;
  }
  .benefits-circle {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
  .map {
    height: 320px;
  }
  .map__style {
    height: 320px;
  }
  .footer__logo_text {
    font-size: 26px;
  }
  .footer__contacts_title {
    color: #fff;
    font-size: 18px;
  }
  .footer__info_title {
    font-size: 18px;
  }
  .footer__group_title {
    font-size: 18px;
  }
  .ultrasound {
    min-height: 600px;
    padding: 2px 0;
  }
  .descriptionHeart {
    padding: 35px 0 20px 0;
  }
  .descriptionHeart-block {
    min-height: 290px;
  }
  .descriptionHeart-block_img {
    width: 300px;
    height: 250px;
  }
  .descriptionHeart-block_text_title {
    font-size: 25px;
  }
  .descriptionHeartTitleStyle {
    font-size: 26px;
  }
  .descriptionHeart-block_text_src {
    font-size: 20px;
    margin: 5px;
  }
  .descriptionHeart-testimony_text {
    font-size: 20px;
  }
  .descriptionHeart-discover_text {
    font-size: 20px;
  }
  .descriptionHeart-preparation {
    margin-top: 5px;
  }
  .descriptionHeart-preparation_text {
    font-size: 20px;
  }
  .functionaldiagnostics {
    padding-bottom: 15px;
  }
  .cardiolog__title {
    font-size: 34px;
  }
  .cardiolog__foreword {
    font-size: 20px;
  }
  .cardiolog-img {
    width: 400px;
    height: 250px;
  }
  .cardiolog__text1 {
    font-size: 20px;
  }
  .cardiolog__causes_title {
    font-size: 30px;
  }
  .cardiolog__text {
    margin: 20px 40px 20px 40px;
  }
  .cardiolog__causes_text {
    font-size: 20px;
  }
  .cardiolog__causes {
    padding: 0 0 10px 0;
  }
  .cardiolog__info {
    font-size: 20px;
  }
  .cardiolog__footer {
    margin-top: none;
  }
  .insurance__wrapper_img-size:nth-child(1) {
    height: 130px;
    width: 180px;
  }
  .insurance__wrapper_img-size:nth-child(2) {
    height: 150px;
    width: 200px;
  }
  .insurance__wrapper_img-size:nth-child(3) {
    height: 130px;
    width: 180px;
  }
  .insurance__wrapper_img-size:nth-child(4) {
    height: 120px;
    width: 180px;
  }
  .insurance__wrapper_img-size:nth-child(5) {
    height: 100px;
    width: 200px;
  }
  .insurance__wrapper_img {
    width: 100%;
  }
  .insurance__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .insurance__wrapper_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px 0 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .certificate-slider__img1 {
    width: 700px;
    height: 500px;
  }
  .certificate-slider__img2 {
    width: 700px;
    height: 500px;
  }
  .prices {
    margin: 25px 0;
  }
  .prices__title {
    font-size: 33px;
    margin: 3% 0;
  }
  .prices__topical {
    background-color: #1e9382;
    font-size: 20px;
  }
  .prices__description {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    margin-top: 40px;
  }
  .header__cap {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #fff;
  }
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    right: 10px;
    top: 10px;
    position: fixed;
    z-index: 2;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #1e9382;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1e9382;
    left: 0;
    top: 9px;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__info {
    display: none;
  }
  .main-menu {
    min-height: 0px;
  }
  .caret {
    display: none;
  }
  .menu__item_visible:hover .menu-level2-hidden {
    display: none;
  }
  .menu-list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1e9382;
    z-index: 1;
    padding: 70px 0 0 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .menu-list.active {
    top: 0;
  }
  .menu {
    display: block;
  }
  .header__cap {
    display: block;
    z-index: 2;
  }
  .menu__item_text {
    font-size: 16px;
  }
  .slider__size {
    height: 215px;
  }
  .home-slider {
    height: 216px;
  }
  .information__title {
    padding-top: 10px;
  }
  .information__btn {
    margin: 20px auto;
    width: 330px;
    height: 55px;
  }
  .benefits__item_text {
    font-size: 22px;
  }
  .benefits-circle {
    width: 45px;
    height: 45px;
    font-size: 27px;
  }
  .services__cards {
    min-height: 340px;
    width: 400px;
  }
  .buttonprices {
    min-width: 280px;
    margin: 5%;
  }
  .wrap {
    padding-bottom: 25px;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo img {
    width: 96px;
    height: 76px;
  }
  .footer__logo_text {
    font-size: 22px;
  }
  .footer__contacts_title {
    color: #fff;
    font-size: 16px;
  }
  .footer__contacts_number {
    font-size: 14px;
  }
  .footer__info_title {
    font-size: 16px;
  }
  .footer__info_schedule {
    font-size: 14px;
  }
  .footer__group_title {
    font-size: 16px;
  }
  .ultrasound__title {
    font-size: 30px;
  }
  .functionaldiagnostics__title {
    font-size: 30px;
  }
  .cardiolog__causes_title {
    font-size: 27px;
  }
  .cardiolog__title {
    font-size: 30px;
  }
  .descriptionHeart-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .descriptionHeart-block_img {
    margin: auto;
    border-radius: 0;
    width: 100%;
  }
  .cardiolog-img {
    display: none;
  }
  .doctors__title {
    width: 100%;
  }
  .certificate-slider__img1 {
    width: 500px;
    height: 300px;
  }
  .certificate-slider__img2 {
    width: 500px;
    height: 300px;
  }
  .certificate {
    min-height: 300px;
  }
  .certificate-slider {
    height: 275px;
  }
  .prices__title {
    font-size: 27px;
  }
  .prices__topical {
    font-size: 15px;
  }
  .prices__table tr {
    font-size: 0.8rem;
  }
  .prices__table-general:before {
    display: none;
  }
  .prices__table-general {
    font-size: 1rem;
  }
  .certificate {
    display: none;
  }
  .giftCertidicate {
    padding-top: 50px;
  }
  .vacancies__title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 480px) {
  body.lock {
    overflow: hidden;
  }
  .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__address p {
    display: block;
    text-align: center;
  }
  .header__address p:nth-child(2) {
    margin-top: 0;
  }
  .header__cap {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #fff;
  }
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    right: 10px;
    top: 10px;
    position: fixed;
    z-index: 2;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #1e9382;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1e9382;
    left: 0;
    top: 9px;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__info {
    display: none;
  }
  .main-menu {
    min-height: 0px;
  }
  .caret {
    display: none;
  }
  .menu__item_visible:hover .menu-level2-hidden {
    display: none;
  }
  .menu-list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1e9382;
    z-index: 1;
    padding: 70px 0 0 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .menu-list.active {
    top: 0;
  }
  .menu {
    display: block;
  }
  .header__cap {
    display: block;
    z-index: 2;
  }
  .menu__item_text {
    font-size: 16px;
  }
  .benefits {
    min-height: 420px;
  }
  .benefits__title {
    font-size: 32px;
  }
  .benefits-circle {
    display: none;
  }
  .benefits__item_text {
    font-size: 17px;
  }
  .services__title {
    font-size: 32px;
  }
  .services__cards {
    min-height: 320px;
    width: 360px;
  }
  .services__cards_fz {
    height: 160px;
  }
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts_number {
    text-align: center;
  }
  .footer__info {
    margin-right: 0;
    text-align: center;
  }
  .cardiolog-img {
    margin: 0 5px;
  }
  .insurance__wrapper_text {
    width: 315px;
    height: 673px;
  }
  .insurance__wrapper_text-title {
    font-size: 14px;
  }
  .insurance__wrapper_text-list {
    font-size: 12px;
  }
  .insurance__wrapper_text-info {
    padding-top: 11px;
    font-size: 15px;
  }
  .certificate-slider__img1 {
    width: 450px;
    height: 300px;
  }
  .certificate-slider__img2 {
    width: 450px;
    height: 300px;
  }
  .giftCertidicate__decor-src {
    font-size: 19px;
  }
  .certificate-slider {
    width: 450px;
  }
  .prices__title {
    font-size: 23px;
  }
  .prices__table tr {
    font-size: 0.7rem;
  }
  .prices__table-general:before {
    width: 15px;
  }
  .prices__table-general {
    font-size: 0.8rem;
  }
  .prices__table-general:before {
    width: 11px;
    margin-top: -4px;
  }
  .vacancies {
    padding: 0;
    min-height: 665px;
  }
  .prices__description-strong {
    margin-top: 10px;
    font-size: 17px;
  }
  .vacancies__title {
    font-size: 26px;
  }
  .vacancies__header {
    font-size: 22px;
    font-weight: 500;
  }
  .vacancies__info_src-style {
    font-size: 22px;
  }
  .vacancies__requirements_title {
    font-size: 25px;
  }
  .vacancies__requirements_src {
    font-size: 20px;
  }
  .vacancies__data_title {
    font-size: 24px;
  }
  .vacancies__data_src {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__address p {
    display: block;
    text-align: center;
  }
  .header__address p:nth-child(2) {
    margin-top: 0;
  }
  .slider__size {
    height: 160px;
  }
  .home-slider {
    height: 160px;
  }
  .information {
    margin-bottom: 20px;
  }
  .information__title {
    font-size: 18px;
  }
  .information__title:after {
    width: 88%;
  }
  .information__text {
    text-align: center;
  }
  .information__btn {
    margin: 15px auto;
    width: 280px;
    height: 45px;
  }
  .information__btn_text {
    font-size: 16px;
  }
  .benefits__title {
    font-size: 25px;
  }
  .benefits-circle {
    display: none;
  }
  .services__cards {
    min-height: 280px;
    width: 290px;
  }
  .services__cards_fz {
    height: 135px;
  }
  .services__cards_title {
    font-size: 19px;
  }
  .services__button {
    display: block;
    width: 215px;
  }
  .buttonprices {
    min-width: 250px;
  }
  .buttonprices {
    min-height: 55px;
    font-size: 18px;
  }
  .map {
    height: 220px;
  }
  .map__style {
    height: 220px;
  }
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts_number {
    text-align: center;
  }
  .footer__info {
    margin-right: 0;
    text-align: center;
  }
  .ultrasound__title {
    font-size: 22px;
  }
  .return {
    cursor: pointer;
    width: 225px;
  }
  .return-text {
    font-size: 18px;
  }
  .descriptionHeart-block_img {
    height: 180px;
  }
  .descriptionHeart-block_text_src {
    text-align: center;
  }
  .descriptionHeartTitleStyle {
    font-size: 23px;
  }
  .descriptionHeart-block_text_title {
    font-size: 22px;
  }
  .descriptionHeartTitleStyle {
    font-size: 18px;
  }
  .cardiolog__foreword {
    margin-left: 0px;
    text-align: center;
  }
  .cardiolog__text1 {
    text-align: center;
  }
  .cardiolog__causes_title {
    font-size: 19px;
  }
  .cardiolog__header {
    font-size: 17px;
  }
  .cardiolog__info {
    text-align: center;
  }
  .functionaldiagnostics-block {
    padding: 0px;
  }
  .ultrasound-block {
    padding: 0px;
  }
  .insurance__wrapper_text-info {
    font-size: 15px;
  }
  .certificate {
    min-height: 200px;
  }
  .certificate-slider__img1 {
    width: 280px;
    height: 200px;
  }
  .certificate-slider__img2 {
    width: 280px;
    height: 200px;
  }
  .giftCertidicate__decor-src {
    font-size: 19px;
  }
  .certificate-slider {
    width: 300px;
    height: 180px;
  }
  .giftCertidicate__header-title {
    font-size: 16px;
  }
  .giftCertidicate__header {
    font-size: 15px;
  }
  .giftCertidicate__list-text {
    font-size: 15px;
  }
  .giftCertidicate__decor-src {
    font-size: 16px;
  }
  .giftCertidicate__decor-header {
    font-size: 16px;
  }
  .giftCertidicate__decor-text {
    font-size: 15px;
  }
  .giftCertidicate__decor-footer {
    font-size: 15px;
  }
  .prices__title {
    font-size: 23px;
  }
  .prices__table tr {
    font-size: 0.6rem;
  }
  .prices__table-general:before {
    width: 15px;
  }
  .prices__table-general {
    font-size: 0.7rem;
  }
  .prices__table-general:before {
    width: 10px;
    height: 38px;
    margin-top: 12px;
  }
  .prices__description-strong {
    margin-top: 10px;
    font-size: 17px;
  }
  .prices__table-center {
    padding: 9px;
  }
  .prices__description-text {
    font-size: .9rem;
  }
  .prices__description-strong {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */